body,html {
    height: 100%;
}

a {
    display: inline-block;
    margin-top: 10px;
    margin-right: 16px;
}

#top-bar {
    top:0;
    left:0;
    right:0;
    width:100%;
    text-align:right;
}

.btn-light {
    margin: 10px;
}

.adv-s-lbl {
    font-size: 10pt;
}